<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page with angular</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <!-- begin site_block -->
    <div class="site_block">
        <!-- begin header -->
        <header class="header">
            <div class="header__center">
                <div class="header__block-left">
                    <a href="#" class="header__logo"></a>
                    <nav class="header__menu menu">
                        <a href="#" class="menu__item active">Задания</a>
                        <a href="#" class="menu__item">Финансы</a>
                        <a href="#" class="menu__item">Компания</a>
                        <a href="#" class="menu__item">Статистика</a>
                    </nav>
                </div>

                <div class="header__block-right">
                    <div class="header__balance balance">
                        <span class="balance__label">Баланс</span>
                        <span class="balance__content">
                            218 982, 90 <span class="rouble">o</span>
                        </span>
                    </div>
                    <div class="header__notifications active notifications">
                        <i class="icon icon-notifications notifications__icon">
                            
                        </i>
                    </div>
                    <div class="header__user user">
                        <div class="user__top">
                            <span class="user__name">Никита Латсточкин</span>
                            <span class="user__arr">&#9660;</span>
                        </div>
                        <div class="user__dd">
                            <ul class="user__list">
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="header__help help">
                        <i class="icon icon-help"></i>
                    </div>
                </div>
            </div>
        </header>
        <!-- header END -->

        <!-- begin page -->
        <div class="page">
            <div class="page__header page__center">
                <h1 class="page__title">Задания</h1>
            </div>

            <div class="page__row">
                <div class="page__center">
                    <div class="page__tabs tabs">
                        <span class="tabs__item js-tab active">
                            <span class="tabs__name">Новые</span>
                            <span class="tabs__indicator">1</span>
                        </span>
                        <span class="tabs__item js-tab">
                            <span class="tabs__name">В работе</span>
                            <span class="tabs__indicator active">1</span>
                        </span>
                        <span class="tabs__item js-tab">
                            <span class="tabs__name">На рассмотрении</span>
                            <span class="tabs__indicator">3</span>
                        </span>
                        <span class="tabs__item js-tab">
                            <span class="tabs__name">Выполнены</span>
                            <span class="tabs__indicator">187</span>
                        </span>
                        <span class="tabs__item js-tab">
                            <span class="tabs__name">Отменены</span>
                            <span class="tabs__indicator">4</span>
                        </span>
                        <span class="tabs__item js-tab">
                            <span class="tabs__name">Черновики</span>
                            <span class="tabs__indicator">7</span>
                        </span>
                    </div>

                    <div class="line js-line"></div>

                    <div class="fab">
                        <i class="icon pluse"></i>
                    </div>
                </div>
            </div>


            <!-- begin content -->
            <div class="page__content content" ng-app="pageApp" ng-controller="DataListCtrl">
                <div class="filter">
                    <div class="filter__search">
                        <input type="text" class="input_def filter__search_input" ng-model="searchText" placeholder="Поиск по слову">
                    </div>

                    <div class="filter__type type">
                        <div class="type__item" ng-repeat="item in getTypes()" >
                            <label for="type-{{$index+1}}" class="checkbox">
                                <input 
                                    type="checkbox"
                                    ng-model="filter[item]"
                                    class="checkbox__input js-checkbox"
                                    id="type-{{$index + 1}}"
                                    value="{{item}}"
                                >
                                <span class="checkbox__checkbox"></span>
                                <span class="checkbox__text" ng-bind="item"></span>
                            </label>
                        </div>
                    </div>

                    <div class="filter__user filter_user">
                        <div class="filter_user__top">
                            <span class="filter_user__name">Никита Ласточкин</span>
                            <span class="filter_user__arr">&#9660;</span>
                        </div>
                        <div class="filter_user__dd">
                            <ul class="filter_user__list">
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="data">
                    <table class="data__table">
                        <thead>
                            <tr>
                                <th class="data__th data__th-1">ID</th>
                                <th class="data__th data__th-2">Город</th>
                                <th class="data__th data__th-3">Название</th>
                                <th class="data__th data__th-4">Выполнить до</th>
                                <th class="data__th data__th-5">Сумма</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr class="js-filter-item checked" data-type="personal"> -->
                            <tr ng-repeat="row in rows | filter:filterByCategory | filter:searchText"  data-type="{{row.type}}">
                                <td class="data__td data__td-1" ng-bind="row.id"></td>
                                <td class="data__td data__td-2" ng-bind="row.city"></td>
                                <td class="data__td data__td-3" ng-bind="row.desc"></td>
                                <td class="data__td data__td-4" ng-bind="row.date"></td>
                                <td class="data__td data__td-5"><span ng-bind="row.price"></span> <span class='rouble'>o</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- content END -->

        </div>
        <!-- page END -->
    </div>
    <!-- site_block END -->

    <script src="js/lib/angular.js"></script>
    <script src="js/app.js"></script>
    <script>
    // Выделение активного таба/элемента на vanilajs без jq
    function calculation(that) {
        var widthLine = that.offsetWidth;
        var postionLine = that.offsetLeft;
        var line = document.getElementsByClassName('js-line');

        line[0].style.width = widthLine - 20 + 'px';
        line[0].style.left = postionLine + 10 + 'px';
    }

    function searchActive() {
        var item = document.getElementsByClassName('js-tab');
        for (var i = 0; i < item.length; i++) {
            if (item[i].classList.contains('active')) {
                calculation(item[i]);
                return false;
            } else {
                document.getElementsByClassName('js-line')[0].style.width = 0;
            }
        }
    }

    document.addEventListener("DOMContentLoaded", searchActive);

    var items = document.getElementsByClassName('js-tab');
    for (var i = 0; i < items.length; i++) {
        (function(i){
            items[i].addEventListener("mouseenter", function() {calculation(items[i])} ,false);
            items[i].addEventListener("mouseleave", function() {searchActive()} ,false);
        }(i));
    }
    </script>
</body>
</html>