.icon {
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../img/sprite/sprite.svg");
    background-repeat: no-repeat;
    background-size: 6em 17.4em;
}

.icon.icon-help:before {
    background-position: -2em -2em;
    width: 2em;
    height: 2em;
}

.icon.icon-notifications:before {
    background-position: -2em -8em;
    width: 1.7em;
    height: 2em;
}

.icon.pluse:before {
    background-position: -2em -14em;
    width: 1.4em;
    height: 1.4em;
}

