@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);

.pt {
    font-family: 'PT Sans', sans-serif;
}

// Шрифт рубля
@font-face {
    font-family: Rouble;
    src: url('../fonts/rouble/rouble.eot?') format('eot'), 
         url('../fonts/rouble/rouble.otf') format('opentype'),
         url('../fonts/rouble/rouble.woff') format('woff'), 
         url('../fonts/rouble/rouble.ttf')  format('truetype');
}

span.rouble {
    font-family: Rouble;
    font-weight: normal;
}

.cf {
    &:before,
    &:after {
        content: ' ';
        display: table;
    }
    &:after {
        clear: both;
    }
}

.block-center {
    position: relative;
    
    width: 1130px;
    padding: 0 5px;
    margin: 0 auto;
    
    box-sizing: border-box;
}

.tr(@item: all, @time: .2s, @type: ease) {
    transition: @item @time @type 0s;
}



html,
body {
  height: 100%;
  margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    margin: 40px 0 30px;
    
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 0.69px;
    line-height: 1.22;
    
    color: @black;
    
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.checkbox {
    display: block;
    position: relative;
    overflow: hidden;
    user-select: none;
    font-size: 14px;
    cursor: pointer;

    &__input {
        pointer-events: none;
        position: absolute;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
    }
    &__checkbox {
        width: 14px;
        height: 14px;
        float: left;
        margin-top: 0;
        background: url(../img/svg/checkbox.svg) no-repeat 0 0;
        margin-right: 8px;
    }
    &__text {
        display: inline-block;
        overflow: hidden;
        line-height: 1.2;
        .tr;
        color: @warm-grey;
    }

    input:disabled:checked + .checkbox__checkbox {
        background: url(../img/svg/checkbox-disabled-checked.svg) no-repeat 50% 50%;
    }
    input:checked + .checkbox__checkbox {
        background-position: 0 100%;
    }

    input:disabled + .checkbox__checkbox {
        background: url(../img/svg/checkbox-disabled.svg) no-repeat 50% 50%;
    }
    input:disabled ~ .checkbox__text {
        color: @pinkish-grey;
    }
}

/* site_block
--------------------------------------------------------- */
.site_block {
    font-size: 16px;
    line-height: 1;
    .pt;
    
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    text-rendering: optimizeLegibility;
}
/* site_block END */


/* header
--------------------------------------------------------- */
.header {
    padding-top: 2px;
    
    background: @black;
    
    &__center {
        .block-center;
        .cf;
        
        color: @white;
        padding-bottom: 17px;
    }
        &__block {
            &-left {
                float: left;
                width: 650px;
                
                .cf;
            }
            &-right {
                float: right;
                width: 470px;
                padding-top: 16px;
                
                font-size: 0;
                text-align: right;
            }
        }
            &__logo {
                float: left;
                width: 75px;
                height: 19px;
                margin-top: 16px;
                margin-right: 42px;
                
                background: url("../img/logo.png") no-repeat 50% 50%;
                background-size: cover;
            }

            &__menu {
                float: left;
                margin-top: 17px;
            }

            &__balance,
            &__notifications,
            &__user,
            &__help {
                display: inline-block;
                vertical-align: middle;
                margin-left: 23px;
                text-align: left;
            }
            &__notifications {
                margin-top: -1px;
            }
}
/* header END */

    /* menu
    --------------------------------------------------------- */
    .menu {
        font-size: 0;
        
        &__item {
            display: inline-block;
            padding: 3px 4px;
            margin-right: 34px;
            
            color: @white;
            font-size: 16px;
            
            opacity: 0.6;
            .tr;
            
            &.active,
            &:hover {
                opacity: 1;
            }
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
    /* menu END */
    
    /* balance
    --------------------------------------------------------- */
    .balance {
        &__label {
            display: inline-block;
            margin-right: 12px;
            
            font-size: 14px;
            
            opacity: 0.5;
        }

        &__content {
            display: inline-block;
            
            font-size: 15px;
            letter-spacing: 0.5px;
            font-weight: bold;
            
            color: @white;
        }
    }
    /* balance END */
    

    /* notifications
    --------------------------------------------------------- */
    .notifications {
        position: relative;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        
        cursor: pointer;
        
        &:hover {
            .notifications__icon {
                opacity: 1;
            }
        }
        
        &:after {
            content: '';
            
            position: absolute;
            right: 4px;
            top: 5px;
            
            width: 4px;
            height: 4px;
            
            border-radius: 50%;
            background: @pinkish-orange;
            opacity: 1;
        }

        &__icon {
            opacity: 0.5;
            .tr;
        }
    }
    /* notifications END */
    
    /* user
    --------------------------------------------------------- */
    .user {
        &__top {
            white-space: nowrap;
            cursor: pointer;
            
            &:hover {
                .user__arr {
                    opacity: 1;
                }
            }
        }
            &__name {
                margin-right: 5px;
                
                font-weight: bold;
                font-size: 15px;
            }
            &__arr {
                position: relative;
                top: -1px;
                
                font-size: 8px;
                
                opacity: 0.5;
                .tr;
            }
        &__dd {
            position: absolute;
            display: none;
        }
    }
    /* user END */
    
    /* help
    --------------------------------------------------------- */
    .help {
        width: 25px;
        height: 25px;
        
        line-height: 25px;
        text-align: center;
        
        
        opacity: 0.5;
        cursor: pointer;
        .tr;
        
        &:hover {
            opacity: 1;
        }
    }
    /* help END */
    
    /* page
    --------------------------------------------------------- */
    .page {
        padding: 30px 0 30px;
        
        &__center {
            .block-center;
        }
            &__header {
                margin-bottom: 30px;
            }

            &__row {
                margin-bottom: 50px;
                
                border-bottom: 1px solid @pinkish-grey;
            }
                &__tabs {
                    font-size: 0;
                }

            &__content {
                .block-center;
            }
    }
    /* page END */
    
        /* tabs
        --------------------------------------------------------- */
        .tabs {
            margin-left: -10px;
            &__item {
                display: inline-block;
                margin-right: 20px;
                padding: 6px 10px 20px;
                
                white-space: nowrap;
                color: @black;
                cursor: pointer;
                
                &:last-child {
                    margin-right: 0;
                }
                
                &:hover,
                &.active {
                    .tabs__name {
                        opacity: 1;
                    }
                }
            }
                &__name {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 11px;
                    
                    font-size: 16px;
                    
                    opacity: 0.5;
                    .tr;
                }
                &__indicator {
                    display: inline-block;
                    vertical-align: middle;
                    text-align: center;
                    
                    height: 20px;
                    min-width: 20px;
                    padding: 0 5px;
                    
                    
                    font-size: 10px;
                    line-height: 18px;
                    
                    color: fade(@black,50%);
                    border: 1px solid @pinkish-grey;
                    border-radius: 10px;
                    box-sizing: border-box;
                    
                    &.active {
                        background: @pinkish-orange;
                        border-color: @pinkish-orange;
                        color: @white;
                    }
                }
        }
        /* tabs END */
        
        /* line
        --------------------------------------------------------- */
        .line {
            position: absolute;
            bottom: -1px;
            
            width: 0;
            height: 1px;
            
            background: @pinkish-orange;
            
            transition: left .6s cubic-bezier(.53,.38,.6,1.15),
                        width .3s ease;
        }
        /* line END */
        

        /* fab
        --------------------------------------------------------- */
        .fab {
            position: absolute;
            right: 0;
            bottom: -27px;
            
            width: 56px;
            height: 56px;
            
            line-height: 54px;
            text-align: center;
            
            border: none;
            border-radius: 50%;
            background-color: @pinkish-orange;
            transition-duration: 0.25s;
            transition-property: background-color,box-shadow;
            box-shadow: 0px 2px 10px rgba(0,0,0,.3),
                        0px 0px 1px rgba(0,0,0,.1),
                        inset 0px 1px 0px rgba(255,255,255,.25),
                        inset 0px -1px 0px rgba(0,0,0,.15);
            cursor: pointer;
            z-index: 2;
            
            &:hover {
                background-color: lighten(@pinkish-orange,5%);
                box-shadow: 0px 5px 5px rgba(0,0,0,.2),
                            0px 10px 14px rgba(0,0,0,.1),
                            inset 0px 1px 0px rgba(255,255,255,.25),
                            inset 0px -1px 0px rgba(0,0,0,.10);
            }

            .icon {
                margin-top: -1px;
            }
        }
        /* fab END */
        
/* filter
--------------------------------------------------------- */
.filter {
    margin-bottom: 30px;
    
    font-size: 0;
    
    &__search,
    &__type,
    &__user {
        display: inline-block;
        vertical-align: middle;
        margin-right: 34px;
    }

    &__search {
        margin-top: -4px;
    }
    &__user {
        margin-top: -2px;
    }
        &__search_input {
            height: 32px;
            padding: 0 14px;
            
            font-size: 14px;
            
            color: @brownish-grey;
            border: 1px solid @pinkish-grey;
            border-radius: 2px;
            box-sizing: border-box;
            outline: none;
            .tr;
            
            &:focus {
                border-color: @brownish-grey;
            }
        }
}
/* filter END */
    

    /* type
    --------------------------------------------------------- */
    .type {
        &__item {
            display: inline-block;
            margin-right: 30px;
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
    /* type END */
    
    /* filter_user
    --------------------------------------------------------- */
    .filter_user {
        &__top {
            white-space: nowrap;
            cursor: pointer;
            
            &:hover {
                .filter_user__arr {
                    opacity: 1;
                }
            }
        }
            &__name {
                margin-right: 5px;
                
                font-size: 14px;
            }
            &__arr {
                position: relative;
                top: -1px;
                
                font-size: 7px;
                
                color: @warm-grey;
                opacity: 0.5;
                .tr;
            }
        &__dd {
            position: absolute;
            display: none;
        }
    }
    /* filter_user END */
    
/* data
--------------------------------------------------------- */
.data {
    &__table {
        width: 100%;
        border: none;
        padding: 0;
        border-spacing: 0;
        table-layout: fixed;
        
        tr:first-child {
            .data__td {
                border-top: none;
            }
        }
    }
        &__th {
            padding-bottom: 9px;
            
            font-size: 12px;
            font-weight: normal;
            text-align: left;
            
            border-bottom: 1px solid fade(@pinkish-grey,50%);
            color: @warm-grey;
            
            &-1 {
                width: 110px;
            }
            &-2 {
                width: 140px;
            }
            &-4 {
                width: 160px;
            }
            &-5 {
                width: 120px;
            }
        }

        &__td {
            padding: 17px 0;
            vertical-align: middle;
            
            font-size: 15px;
            line-height: 1.3;
            border-top: 1px solid fade(@pinkish-grey,50%);
            
            &-1 {
                width: 110px;
            }
            &-2 {
                width: 130px;
                padding-right: 10px;
            }
            &-3 {
                padding-right: 70px;
            }
            &-4 {
                width: 160px;
            }
            &-5 {
                width: 120px;
            }
        }
}
/* data END */